In [22]:
import pandas as pd
df1 = pd.read_csv("1_2_기상조건.csv")
df2 = pd.read_csv("2_날짜별행정구별_승객수.csv")

In [23]:
df1.info()
df1.head(2)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 416 entries, 0 to 415
Data columns (total 7 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  416 non-null    int64
 1   날짜          416 non-null    object
 2   평균기온(℃)     416 non-null    float64
 3   최저기온(℃)     416 non-null    float64
 4   최고기온(℃)     416 non-null    float64
 5   강수량(mm)     416 non-null    float64
 6   기상조건        416 non-null    object
dtypes: float64(4), int64(1), object(2)
memory usage: 22.9+ KB

   Unnamed: 0           날짜  평균기온(℃)  최저기온(℃)  최고기온(℃)  강수량(mm)   기상조건
0           0   2022-07-01     26.6     21.9     30.9      0.0     맑음
1           1   2022-07-02     28.8     24.0     33.8      0.0  폭염/한파

In [24]:
df2.info()
df2.head(1)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 199000 entries, 0 to 198999
Data columns (total 4 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   날짜      199000 non-null  int64
 1   행정구     199000 non-null  object
 2   행정동     199000 non-null  int64
 3   승객수     199000 non-null  float64
dtypes: float64(1), int64(2), object(1)
memory usage: 6.1+ MB

         날짜  행정구      행정동      승객수
0  20230816  구로구  1117064  11638.0

In [25]:
type(df1['날짜'])

pandas.core.series.Series