## 지하철 혼잡도 데이터(2022) 불러오기

In [1]:
import pandas as pd
data = pd.read_csv("[지하철_102_raw]_서울교통공사_역별시간대별혼잡도_20221231.csv")
data

,연번,요일구분,호선,역번호,출발역,상하구분,5시30분,6시00분,6시30분,7시00분,...,20시00분,20시30분,21시00분,21시30분,22시00분,22시30분,23시00분,23시30분,00시00분,00시30분
0,1,평일,1,150,서울역,상선,7.3,18.1,18.1,30.9,...,15.6,17.1,17.7,14.9,13.7,17.2,10.4,8.8,8.8,1.2
1,2,평일,1,150,서울역,하선,11.5,11.0,13.2,21.4,...,35.3,36.1,35.0,29.4,39.2,26.1,17.1,11.8,8.5,0.0
2,3,평일,1,151,시청,상선,6.6,15.4,14.7,25.0,...,19.1,20.7,21.8,17.5,18.5,18.4,14.9,11.5,7.0,2.8
3,4,평일,1,151,시청,하선,9.0,9.1,14.6,20.0,...,30.5,32.4,31.1,28.5,30.2,22.2,15.4,10.1,6.5,0.8
4,5,평일,1,152,종각,상선,6.3,14.4,10.7,17.6,...,26.8,25.2,29.7,22.6,26.1,24.0,19.7,14.6,9.6,4.2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1653,1654,공휴일,8,2827,모란,하선,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN
1654,1655,공휴일,8,2828,남위례,상선,9.9,5.8,6.6,8.1,...,7.3,6.1,7.5,6.5,5.0,4.2,3.5,2.0,NaN,NaN
1655,1656,공휴일,8,2828,남위례,하선,2.1,3.0,3.7,3.0,...,17.1,16.6,22.8,19.0,18.8,14.8,15.7,10.0,NaN,NaN
1656,1657,공휴일,8,2828,남위례,상선,9.9,5.8,6.6,8.1,...,7.3,6.1,7.5,6.5,5.0,4.2,3.5,2.0,NaN,NaN
1657,1658,공휴일,8,2828,남위례,하선,2.1,3.0,3.7,3.0,...,17.1,16.6,22.8,19.0,18.8,14.8,15.7,10.0,NaN,NaN

## 1호선 데이터 분리

In [3]:
line_1 = data[data['호선'] == 1].reset_index()
line_1.head(2)

,index,연번,요일구분,호선,역번호,출발역,상하구분,5시30분,6시00분,6시30분,...,20시00분,20시30분,21시00분,21시30분,22시00분,22시30분,23시00분,23시30분,00시00분,00시30분
0,0,1,평일,1,150,서울역,상선,7.3,18.1,18.1,...,15.6,17.1,17.7,14.9,13.7,17.2,10.4,8.8,8.8,1.2
1,1,2,평일,1,150,서울역,하선,11.5,11.0,13.2,...,35.3,36.1,35.0,29.4,39.2,26.1,17.1,11.8,8.5,0.0

### 상하구분

In [10]:
line_1_up = line_1[line_1['상하구분'] == '상선'].reset_index()
line_1_down = line_1[line_1['상하구분'] == '하선'].reset_index()
line_1_up.head(3)
line_1_down.head(3)

,level_0,index,연번,요일구분,호선,역번호,출발역,상하구분,5시30분,6시00분,...,20시00분,20시30분,21시00분,21시30분,22시00분,22시30분,23시00분,23시30분,00시00분,00시30분
0,1,1,2,평일,1,150,서울역,하선,11.5,11.0,...,35.3,36.1,35.0,29.4,39.2,26.1,17.1,11.8,8.5,0.0
1,3,3,4,평일,1,151,시청,하선,9.0,9.1,...,30.5,32.4,31.1,28.5,30.2,22.2,15.4,10.1,6.5,0.8
2,5,5,6,평일,1,152,종각,하선,9.8,9.6,...,23.6,26.0,24.9,22.8,24.9,18.0,12.7,8.6,2.5,0.6

- 각 행별 최대값이 어느 시간대인지
- 각 시간대별 요일별 가장 혼잡한 부분
- 한개 역에 대해 평일, 토요일, 공휴일 비교
- 날씨 변수 추가