In [8]:
import pandas as pd
df = pd.read_csv("data/역별요일별비율.csv")
df

      호선        역명 요일        비율
0      1       동대문  금  1.061534
1      1       동대문  목  1.020850
2      1       동대문  수  1.026641
3      1       동대문  월  1.005251
4      1       동대문  일  0.873151
...   ..       ... ..       ...
1927   8  천호(풍납토성)  수  1.103023
1928   8  천호(풍납토성)  월  1.055937
1929   8  천호(풍납토성)  일  0.622513
1930   8  천호(풍납토성)  토  0.886181
1931   8  천호(풍납토성)  화  1.094405

[1932 rows x 4 columns]

In [10]:
df[df['역명']=='충무로']

     호선   역명 요일        비율
637   3  충무로  금       NaN
638   3  충무로  목       NaN
639   3  충무로  수       NaN
640   3  충무로  월       NaN
641   3  충무로  일       NaN
642   3  충무로  토       NaN
643   3  충무로  화       NaN
812   4  충무로  금  1.198823
813   4  충무로  목  1.230241
814   4  충무로  수  1.221775
815   4  충무로  월  1.168787
816   4  충무로  일  0.367570
817   4  충무로  토  0.598456
818   4  충무로  화  1.214347